# 🚀 Node.js dependencies
node_modules/
package-lock.json

# 🔒 Environment Variables
.env

# 🛠 Logs & Debugging Files
logs/
*.log

# 🐳 Docker Build Files
dump.rdb
*.rdb

# 🔄 Database Migrations & Seeds (Optional: Keep if needed)

seeders/

# 🛠 Jest Test Files & Coverage Reports

jest.global-teardown.js
coverage/

# 🔍 System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log


# Terraform plan output
*.tfplan

# Terraform CLI configuration
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# Backup files
*.backup